.Round {
  display: flex;
  flex-direction: column;
}

.Round > section {
  font-size: 3em;
}

.Round > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Round > ul > li {
  font-size: 2em;
  margin: 20px;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.Round > ul > li:hover {
  background-color: aqua;
}
